<!doctype html>
<html class="no-js" lang="en">

<!--
         ___          ___  ___            ___
 /\     |__  | |\ | |  |  |__     \  / | |__  |  |
/~~\    |    | | \| |  |  |___     \/  | |___ |/\|

-->

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="feed - {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  <link rel="icon" href="{{ site.baseurl }}/favicon.png">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.6/css/foundation.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>

  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">

      <div class="top-bar-section">
        <ul class="left">
          <li><a href="{{ site.base_url }}/">posts</a></li>
        </ul>
      </div>

      <div class="top-bar-section">
        <ul class="right">
          <li><a href="https://github.com/macro1">github</a></li>
        </ul>
      </div>

    </nav>
  </div>

  {{ content }}

  <div class="row">
    <div class="column">
      <hr>
      <p>&copy; Micah Denbraver {{ site.time | date: '%Y' }} All Rights Reserved</p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <button class="secondary js-show-comments">Show comments</button>
      <noscript><p>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></p></noscript>
      <div id="disqus_thread" class="panel" style="display:none;"></div>
    </div>
  </div>

  {% include comments.html %}

  {% include tracking.html %}

</body>

</html>
